/* Requisito 1: cor de fundo definida */
body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: aqua;
  z-index: 2;
}

#titulo {
  text-align: center;
}

#minha_foto {
  width: 150px;
  height: 150px;
  position: relative;
  margin-top: 90px;
  z-index: 1;
}

#rodape {
  text-align: center;
}
