/* Requisito 1: cor de fundo definida */
body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #81ae9d;
  z-index: 2;
}

#titulo {
  text-align: center;
}

#minha_foto {
  width: 180px;
  height: 180px;
  position: relative;
  margin-top: 100px;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
  text-align: center;
  font-size: larger;
}

#rodape {
  text-align: center;
  color: gray;
}

h2 {
  background-color: #dbfcff;
}

h3 {
  text-align: center;
  font-size: larger;
}

#tabela {
  border-style: solid;
  border-width: 1px;
  text-align: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

p {
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  line-height: 30px;
}

li {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 60px;
  line-height: 25px;
}

#titulo_artigo {
  text-align: center;
}



#texto_sessao {
  text-align: center;
}

#linkedin {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
